In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('MatchStats6Year.csv')
df.describe()

,S,Kills,Errors,Total Attacks,Hit Pct,Assists,Aces,SErr,Digs,RErr,Block Solos,Block Assists,BErr,PTS,BHE,Sets Won,Sets Lost
count,61139.000000,61139.000000,61139.000000,61139.000000,61139.000000,61139.000000,61139.000000,61139.000000,61139.000000,61139.000000,61139.000000,61139.000000,61139.000000,61139.000000,61139.000000,61139.000000,61139.000000
mean,3.707552,46.464859,19.905036,130.491225,0.206009,43.326224,4.642111,6.951389,55.325602,4.618165,1.659579,11.891264,1.682461,58.296348,1.173523,1.863246,1.849000
std,0.777213,12.568485,6.637298,32.775194,0.094633,11.942469,2.759553,3.273677,17.662653,2.750294,1.600544,6.506741,1.641966,16.105151,1.390420,1.328810,1.331641
min,0.000000,0.000000,0.000000,0.000000,-0.233000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,38.000000,15.000000,103.000000,0.145000,35.000000,3.000000,5.000000,42.000000,3.000000,0.000000,8.000000,0.000000,48.000000,0.000000,1.000000,1.000000
50%,4.000000,46.000000,20.000000,127.000000,0.205000,43.000000,4.000000,7.000000,53.000000,4.000000,1.000000,12.000000,1.000000,59.000000,1.000000,3.000000,2.000000
75%,4.000000,56.000000,24.000000,156.000000,0.266000,52.000000,6.000000,9.000000,67.000000,6.000000,2.000000,16.000000,3.000000,71.000000,2.000000,3.000000,3.000000
max,5.000000,87.000000,56.000000,412.000000,0.750000,83.000000,21.000000,29.000000,153.000000,21.000000,29.000000,48.000000,23.000000,109.000000,14.000000,79.000000,79.000000

In [3]:
PTSzero = df['PTS'] == 0

In [6]:
df.loc[PTSzero,'PTS'] = df.loc[PTSzero, 'Kills'] + \
    df.loc[PTSzero, 'Aces'] + \
    df.loc[PTSzero, 'Block Solos'] + \
    df.loc[PTSzero, 'Block Assists']/2.0

In [7]:
df.to_csv('MatchStats6Year.csv')